{% extends 'base.html.twig' %}

{% block title %}Wish Details{% endblock %}

{% block body %}
    <h1>{{ wish.title }}</h1>
    <div>
        <p>Author : {{ wish.author }}</p>
        <p>Description : {{ wish.description }}</p>
        <p>Date Created : {{ wish.dateCreated | date }}</p>
        <p>Date Updated : {{ wish.dateUpdated | date }}</p>
    </div>
    <a href="{{ path('wish_edit', {'id' : wish.id}) }}">Update</a>
{% endblock %}

